.edit_answer_form
  position: fixed
  top: 100px
  left: 50%
  display: grid
  grid-row-gap: 10px
  background-color: #231b69
  padding: 10px
  border-radius: 5px
  color: white
  transform: translateX(-50%)
  min-width: 400px

form.ask_answer
  display: grid
  grid-row-gap: 10px
  background-color: #adadad
  padding: 10px
  border-radius: 5px

input.best
  float: right

ul.answers_list
  li
    padding: 10px

  li.best_answer
    background-color: #e7e8ff
    border: 1px solid #c7c6c6
    margin: 10px 0
    border-radius: 5px
