ul.links
  li
    padding: 0

#links
  label
    margin: 0 5px

.edit_links
  .nested-fields
    label
      margin: 0 5px
    input[placeholder='name']
      width: 110px

  //input[type="checkbox"]
  //  color: white
  //  font-size: 20px
  //  &:checked
  //    color: red

  input[type="checkbox"]
    display: none

  label.fas
    margin-left: 7px
    font-size: 20px

  input[type="checkbox"]:checked + label
    color: red