p.question_body
  border: 1px solid
  border-radius: 5px
  padding: 5px

form.edit_question_form
  position: fixed
  top: 100px
  left: 50%
  display: grid
  min-width: 400px
  grid-row-gap: 10px
  background-color: #231b69
  padding: 10px
  border-radius: 5px
  color: white
  transform: translateX(-50%)

form.new_question
  display: grid
  grid-row-gap: 10px

  #honor_form
    .form
      display: flex
      width: 300px
      flex-direction: column
      text-align: center
      margin: auto

      img#honor_image
        width: 150px
        height: 150px
        margin: auto

      input[type='text']
        border: 0
        text-align: center

      input[type='file']
        display: none
